<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html data-useragent=" " id="mainhtml" lang="en" ng-app="todayApp" xml:lang="en" xmlns="https://www.w3.org/1999/xhtml">
 <head>
  <meta content="width=device-width, initial-scale=.8, maximum-scale=.8, minimum-scale=.8" name="viewport"/>
  <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://connect.facebook.net https://staticxx.facebook.com https://ajax.googleapis.com https://www.google-analytics.com; object-src 'none'; upgrade-insecure-requests;"> -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css"/>
  <title>
   Internships - Naveen Jindal School of Management
  </title>
  <meta content="Internships - Naveen Jindal School of Management" name="description"/>
  <meta content="Inside Jindal School" name="author"/>
  <meta content="#c75b12" id="themecolor" name="theme-color"/>
  <meta content="yes" name="mobile-web-app-capable"/>
  <!-- Open Graph data -->
  <meta content="article" property="og:type"/>
  <meta content="https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" property="og:url"/>
  <meta content="Internships - Naveen Jindal School of Management" property="og:title"/>
  <meta content="Internships - Naveen Jindal School of Management" property="og:description"/>
  <meta content="Inside Jindal School" property="og:site_name"/>
  <meta content="https://jsom.utdallas.edu/img/inside_jindal_school.png" property="og:image"/>
  <!-- Twitter Card data -->
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="@jindal_utdallas" name="twitter:site"/>
  <meta content="Internships - Naveen Jindal School of Management" name="twitter:title"/>
  <meta content="Internships - Naveen Jindal School of Management" name="twitter:description"/>
  <meta content="https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" name="twitter:url"/>
  <meta content="https://jsom.utdallas.edu/img/inside_jindal_school.png" name="twitter:image:src"/>
  <meta content="https://jsom.utdallas.edu" name="twitter:domain"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/android-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/favicon-160x160.png" rel="icon" sizes="160x160" type="image/png"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/favicon1.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/websvcs/templates/jsom/img_new/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <meta content="#da532c" name="msapplication-TileColor"/>
  <meta content="/websvcs/templates/jsom/img_new/favicon/mstile-144x144.png" name="msapplication-TileImage"/>
  <meta content="6367370743A02089B5B3244829B088CE" name="msvalidate.01">
   <link href="css/style.css" rel="stylesheet" type="text/css"/>
   <link href="css/post.css" rel="stylesheet" type="text/css"/>
   <link href="&gt;css/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css"/>
   <!-- Google Tag Manager -->
   <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TCJ64H6');
   </script>
   <!-- End Google Tag Manager -->
  </meta>
 </head>
 <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
   <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-TCJ64H6" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- <div class="topBar">
        <div class="container">
            <nav role="navigation">
                <ul class="greyBar">
                    <li><a class="home" href="https://jindal.utdallas.edu/">JSOM Home</a></li>
                    <li><a class="blog" href="https://jindal.utdallas.edu/blog/">JSOM Perspectives Blog</a></li>
                    <li><a class="socialIcon" href="https://www.facebook.com/jindal.utdallas/"><img src="https://jsom.utdallas.edu/internship-stories/img/facebookLogo.svg" alt="JSOM Facebook"></a></li>
                    <li><a class="socialIcon" href="https://www.linkedin.com/edu/school?id=19543"><img src="https://jsom.utdallas.edu/internship-stories/img/linkedinLogo.svg" alt="JSOM LinkedIn"></a></li>
                    <li><a class="socialIcon" href="https://www.instagram.com/jindal_utdallas/"><img src="https://jsom.utdallas.edu/internship-stories/img/instagramLogo.svg" alt="JSOM Instagram"></a></li>
                    <li><a class="socialIcon" href="https://twitter.com/jindal_utdallas"><img src="https://jsom.utdallas.edu/internship-stories/img/twitterLogo.svg" alt="JSOM Twitter"></a></li>

                </ul>
            </nav>
            <form action="https://jindal.utdallas.edu/news/search" class="search" method="get" role="search"><fieldset><input class="text" id="q" name="q" placeholder="Search" title="Search" type="text"/> <input class="submit" type="submit" value="Search"/></fieldset></form>
        </div>
    </div>-->
  <div id="headerContainer">
   <div id="header">
    <a href="https://utdallas.edu">
     <img alt="link to UT Dallas home page" id="utdLogo" src="https://jsom.utdallas.edu/internship-stories/img/UTDmono_circle_rev.png"/>
    </a>
    <a href="/">
     <img alt="link to Internships Home Page" id="jsomTodayLogo" src="https://jsom.utdallas.edu/internship-stories/img/internships-logo.svg"/>
    </a>
   </div>
  </div>
  <!--<div class="top-main">
        <div class="top-main-container">
        <div class="topnav">

         <h1>Jindal School Internships </h1>
        </div>
        </div>
    </div> -->
  <div class="todayContainer">
   <div class="feeds" data-category="" data-month="" data-num="5" ng-controller="feedController">
    <div class="recent">
     <h1>
      Internships at the Jindal School - UT Dallas
     </h1>
     <p class="lead">
      At the Naveen Jindal School of Management, our faculty believes strongly in helping students practice what they learn in the classroom in a real-world setting. This is why an internship is required at the undergraduate level as a degree requirement. At the graduate/master's level, most degree programs also require an internship. On this site, we give our students a place to recount their internship experiences. These stories showcase the partnerships between the Jindal School and hundreds of employers who engage our students each semester. Enjoy reading these internship experiences. If you would like to hire a Jindal School student, please reach out to our
      <a href="https://jindal.utdallas.edu/career-management-center/" style="color: #008542;" target="_blank">
       Career Management Center
      </a>
      .
     </p>
     <br/>
     <a class="button-green" href="https://jsom.utdallas.edu/submit-internship/">
      Submit your Internship Stories
     </a>
     <br/>
     <div class="form-group">
      <input autocomplete="off" class="super-search" id="semester" maxlength="100" placeholder="Search internship experiences by company name, program name or semester" type="text"/>
     </div>
     <div class="clearfix">
     </div>
     <div class="stats">
      <div class="stat internNo">
       <p>
       </p>
       <small>
        internships since spring 2018
       </small>
      </div>
      <div class="stat studentNo">
       <p>
       </p>
       <small>
        students with internships since spring 2018
       </small>
      </div>
      <div class="stat companyNo">
       <p>
       </p>
       <small>
        unique companies spring 2018
       </small>
      </div>
     </div>
     <div class="clearfix">
     </div>
     <h2>
      Most Recent
     </h2>
     <div class="clearfix">
     </div>
     <div id="recentContainerDiv">
      <div class="recentContainer slide" ng-repeat="feed in feeds">
       <div class="recentStory">
        <div class="recentStory-photo">
         <a class="image-container" href="https://jsom.utdallas.edu/internship-stories/{{ feed.id }}">
          <img alt="{{ feed.title }}" src="{{ feed.photoURL }}"/>
         </a>
        </div>
        <div class="recentStory-text">
         <!--<a href="https://jsom.utdallas.edu/internship-stories/{{ feed.id }}" class="recentStory-title titleText">{{ feed.fName }} {{ feed.lName }}'s Internship at {{ feed.companyName }} - {{ feed.semester }} {{ feed.year }}</a> -->
         <a class="recentStory-title titleText" href="https://jsom.utdallas.edu/internship-stories/{{ feed.id }}">
          Internship at {{ feed.companyName }} - {{ feed.semester }} {{ feed.year }}
         </a>
         <p>
          {{ feed.narrative }} ...
         </p>
         <!-- <p>{{ feed.degreeName }}</p> -->
         <a class="recentStory-title category-link" href="https://jsom.utdallas.edu/internship-stories/search.php?semester=&amp;year=&amp;company=&amp;program={{ feed.degreeName }}">
          {{ feed.degreeName }}
         </a>
         <div class="recentStory-date">
          {{ feed.submittedOn }}
         </div>
        </div>
       </div>
      </div>
     </div>
     <a class="load" href="https://jsom.utdallas.edu/internship-stories/#loadNextStories" ng-click="loadMore()" ng-if="more">
      <h3>
       Load More
      </h3>
     </a>
    </div>
   </div>
  </div>
  <div id="footerContainer">
   <div id="footer">
    <div id="footerLeft">
     <a href="https://jindal.utdallas.edu" id="footerLogo">
      <img alt="link to Jindal School home page" id="footerLogoImg" src="https://jsom.utdallas.edu/internship-stories/img/naveenLogo.svg"/>
     </a>
     <p>
      Copyright © 2025, All rights reserved.
      <br/>
      800 W Campbell Road,
      <br/>
      Richardson, TX 75080, USA · (972) 883-2705
     </p>
    </div>
    <div id="footerRight">
     <a class="footerLink" href="https://jindal.utdallas.edu/undergraduate-programs/">
      Undergraduate
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/student-resources/">
      Resources
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/masters-programs/">
      MS
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/admission-requirements/">
      Apply
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/phd-programs/">
      PhD
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/career-management-center/">
      Careers
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/executive-education/">
      Executive Education
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/social-media/">
      Social Media
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/centers-of-excellence/">
      Centers &amp; Institutes
     </a>
     <a class="footerLink" href="https://jindal.utdallas.edu/about-the-jindal-school-of-management/external-affairs/">
      External Affairs
     </a>
    </div>
   </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js">
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js">
  </script>
  <script>
   function myFunction() {
  document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
}
window.top !== window.self &&
  window.top.location.replace(window.self.location.href),

  (window.fbAsyncInit = function() {
    FB.init({
      appId: "1330175710329901",
      xfbml: !0,
      version: "v2.6"
    });
  }),
  (function(t, e, n) {
    var o,
      a = t.getElementsByTagName(e)[0];
     t.getElementById(n) ||
      ((o = t.createElement(e)),
      (o.id = n),
      (o.src = "//connect.facebook.net/en_US/sdk.js"),
      a.parentNode.insertBefore(o, a));
  })(document, "script", "facebook-jssdk");

var todayApp = angular.module("todayApp", ["ngAnimate"]);

todayApp.controller("feedController", [
  "$scope",
  "$http",
  "$attrs",
  function(t, e, n) {
      (t.feeds = []),
      (t.start = 0),
      (t.more = !1),
      (t.num = parseInt(n.num)),
      (t.load = function(o) {

        var a = {
            option: "get-post",
            start: o,
            num: t.num
          },
          s = {
            headers: {
              "Content-Type": "application/x-www-form-urlencoded;charset=utf-8;"
            }
          };
        e.post("https://jsom.utdallas.edu/internship-stories/includes/functions.php", a, s).then(
          function(e) {

            (t.feeds = t.feeds.concat(e.data.data)),
              (t.more = e.data.more)
              //,console.log(e);

            
          },
          function(e) {
            t.error = e.data || "Request failed";
          }
        );
      }),
      (t.loadMore = function() {
        (t.start = t.start + t.num), console.log(t.start), t.load(t.start);
      }),
      t.load(t.start);
  }
]),
todayApp.animation(".slide", [
  "$animateCss",
  function(t) {
    return {
      enter: function(e) {
        return t(e, {
          event: "enter",
          structural: !0,
          addClass: "in"
        });
      }
    };
  }
]);
  </script>
  <script>
   /*
window.webtrendsAsyncInit=function(){

    var dcs=new Webtrends.dcs().init({

        dcsid:"dcsvxo7b700000gk6nbtgclkd_4w7j",

        domain:"statse.webtrendslive.com",

        timezone:-6,

        i18n:true,

        adimpressions:true,

        adsparam:"WT.ac",

        offsite:true,

        download:true,

        downloadtypes:"xls,doc,pdf,txt,csv,zip,docx,xlsx,rar,gzip",

        anchor:true,

        javascript: true,

        onsitedoms:"utdallas.edu",

        fpcdom:".utdallas.edu",

        plugins:{

            hm:{src:"//s.webtrends.com/js/webtrends.hm.js"},

            facebook:{src:"//s.webtrends.com/js/webtrends.fb.js"},

            yt:{src:"//s.webtrends.com/js/webtrends.yt.js"}			

        }

        }).track();

};

(function(){

    var h=document.location.protocol;

    var s=document.createElement("script"); s.async=true; s.src=h+"//www.utdallas.edu/websvcs/shared/webtrends.js";   

    var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);

}());*/
  </script>
 </body>
</html>
<script src="js/jquery.flexdatalist.min.js">
</script>
<script src="js/postSearch.js">
</script>
<script>
 $('.super-search').flexdatalist({
     minLength: 1,
     selectionRequired: true,
     visibleProperties: ["name","type"],
     searchIn: 'name',
     data: 'includes/superSearchHandler.php',
     searchContain:true
});

$('.super-search').attr('placeholder', 'Search internship experiences by company name, program name or semester');

$('.super-search').on('select:flexdatalist', function(event, set, options) {
   var name = set.name;
   var type = set.type;

   if(type=='semester') {
        var nameArray = name.split(' ');
        window.location.href = 'search.php?semester='+nameArray[0]+'&year='+nameArray[1]+'&company=&program=';
   }
   else if(type=='company')
        window.location.href = 'search.php?semester=&year=&company='+name+'&program=';
    else if(type=='program')
        window.location.href = 'search.php?semester=&year=&company=&program='+name;
});


$.ajax({
        url:"includes/fetch_filter.php",
        method:"POST",
        data:{action:'getNumbers'},
        success:function(data){
            console.log(data);
            data = data.split("-");
            $('.internNo p').html(data[0]);
            $('.studentNo p').html(data[1]);
            $('.companyNo p').html(data[2]);
        }
    });
</script>
